/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


.container ul {
  list-style: none;
  width:40%;

   li{
    display: block;
     text-decoration: none;
     background-color: rgb(229, 229, 229);
     padding: 20px;
     border-bottom: 1px solid rgb(118, 118,118);
     color: rgb(118, 118, 118);
   }

   li.active{
     color: rgb(137, 175, 53);
   }
}
